html, body {
	width: 100%;
	height: 100%;	
	color: #222;
	background: #e2bbbb;
	font-family: sans-serif;
	font-family: Arial;
	font-family: source-sans-pro;
}
	a {
		text-decoration: none;
		color: #ae59d9;
	}
		a:hover,
		a:active,
		a:focus {
			background: #f4f4f4;
		}
::selection { background: #FF8B4D; }
::-moz-selection { background: #FF8B4D; }



.wrap {
	position: absolute;
	width: 96%;
	padding: 0 2%;
	top: 50%;
	transform: translateY(-50%);
}
	h2, p {
	    text-align: center;
		font-size: 36px;
	}
