html,
button,
input,
select,
textarea {
	color: #222;
}

::selection {
	background: #FF8B4D;
}
::-moz-selection {
	background: #FF8B4D;
}

body {
	background: #f4f4f4;
	font: 16px/1.625 sans-serif;
	font: 15px/1.625 Arial;
	font: 16px/1.625 source-sans-pro;
}

a {
	text-decoration: none;
	color: #ae59d9;
}

a:hover,
a:active,
a:focus {
	background: #E2BBBB;
}

strong {
	font-size: 1.1em;
}

code {
	font-family: source-code-pro;
	background: #eee;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
}

header {
	background: #e2bbbb;
	border-bottom: solid 5px #c16c6c;
	padding-top: 1px; /* Is this for real? */
}

nav a {
	text-align: center;
	font-weight: bold;
	color: #222;
	background: #ae59d9;
	border-bottom: solid 5px #a219e6;
}
nav a:hover,
nav a:active,
nav a:focus {
	background: #A219E6;
}

footer {
	border-top: solid 5px #c16c6c;
	background: #e2bbbb;
	padding-bottom: 1px; /* This is a hack for footer to reach the bottom; test it on a real phone */
}
	footer a:hover,
	footer a:active,
	footer a:focus {
		background: #f4f4f4;
	}



/* ===============
	Mobile first!
   =============== */

header {
	text-align: center;
	padding: 1px 0 10px 0;
}
	h1 {
		margin: 0.25em 0;
	}
	nav ul {
		margin: 0;
		padding: 0;
	}
		nav li {
			display: inline-block;
			padding: 0;
			width: 22%;
			margin: 0 0.5% 0 0.5%;
		}
		nav a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}

h2 {
	font-size: 1.3em;
}

main, footer {
	padding: 0 2%;
}
	main article iframe {
		max-width: 100%;
	}

.social_logo:hover,
.social_logo:active,
.social_logo:focus {
	transform: scale(1.1);
}

.social_logo {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-left: 25px;
	margin-bottom: 0.83em;
}

.social_logo img {
	position: absolute;
	display: block;
	height: 100%;
	width: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#twitter {
	/* Twitter blue */
	background: #55acee;
}
	#twitter img {
		height: 50%;
	}

ul.credits {
	display: inline;
	margin: 0;
	padding: 0;
}

/* =========================================
	The time of desktops has come to an end
   ========================================= */
@media only screen and (min-width: 768px) {
	body {
		font: 18px/1.625 sans-serif;
		font: 17px/1.625 Arial;
		font: 18px/1.625 source-sans-pro;
	}

	header, main, footer {
		text-align: left;
		padding-left: 125px;
		padding-right: 0;
	}

	nav li {
		width: 65px;
		margin: 0;
	}
	nav li:not(:first-child) {
		margin-left: 15px;
	}

	main article {
		width: 80%;
		max-width: 860px;
	}

	footer {
		padding-top: .83em;
		padding-bottom: .83em;
	}
}