html,
button,
input,
select,
textarea {
	color: #222222;
}



::selection {
	background: #ff8b4d;
}

::-moz-selection {
	background: #ff8b4d;
}



body {
	background: #f4f4f4;
	font: 16px/1.625 sans-serif;
	font: 15px/1.625 Arial;
	font: 16px/1.625 source-sans-pro;
}



a {
	color: #ae59d9;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	background: #e2bbbb;
}

strong {
	font-size: 1.1em;
}

code {
	background: #eeeeee;
	border-bottom: solid 2px #ffffff;
	border-top: solid 2px #ffffff;
	font-family: source-code-pro;
}



header {
	background: #e2bbbb;
	border-bottom: solid 5px #c16c6c;
	padding-top: 1px; /* Is this for real? */
}

	header nav a {
		background: #ae59d9;
		border-bottom: solid 5px #a219e6;
		color: #222222;
		font-weight: bold;
		text-align: center;
	}

	header nav a:hover {
		background: #a219e6;
	}



footer {
	background: #e2bbbb;
	border-top: solid 5px #c16c6c;
	padding-bottom: 1px; /* This is a hack for footer to reach the bottom; test it on a real phone */
}

	header a:hover,
	footer a:hover {
		background: #f4f4f4;
	}



/* ===============
	Mobile first!
   =============== */

header {
	padding: 30px 0;
	text-align: center;
}

	h1 {
		margin: 0;
		vertical-align: middle;
	}

	h1 a {
		font-size: 1.6rem;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

		nav li {
			display: inline-block;
			margin: 0 0.5% 0 0.5%;
			padding: 0;
			width: 22%;
		}

		nav a {
			display: inline-block;
			height: 100%;
			width: 100%;
		}



h2 {
	font-size: 1.3em;
}



main,
footer {
	padding: 0 2%;
}

	main article iframe {
		max-width: 100%;
	}



.social_logo:hover,
.social_logo:active,
.social_logo:focus {
	transform: scale(1.1);
}

.social_logo {
	display: inline-block;
	height: 70px;
	margin-bottom: 20px;
	margin-right: 25px;
	position: relative;
	width: 70px;
}

	.social_logo img {
		bottom: 0;
		display: block;
		height: 100%;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}

	#twitter {
		/* Twitter blue */
		background: #55acee;
	}

		#twitter img {
			height: 50%;
		}



.credits {
	display: inline;
	margin: 0;
	padding: 0;
}



/* =========================================
	The time of desktops has come to an end
   ========================================= */
@media only screen and (min-width: 768px) {
	body {
		font: 18px/1.625 sans-serif;
		font: 17px/1.625 Arial;
		font: 18px/1.625 source-sans-pro;
	}

	header,
	main,
	footer {
		padding-left: 125px;
		padding-right: 0;
		text-align: left;
	}

		nav li {
			margin: 0;
			width: 65px;
		}

		nav li:not(:first-child) {
			margin-left: 15px;
		}



	main article {
		max-width: 860px;
		width: 80%;
	}



	footer {
		padding-bottom: 15px;
		padding-top: 15px;
	}
}
