/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 16px;
	line-height: 1.4;
}

::selection, ::-moz-selection {
	background: #177CF7;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	font: 16px/1.625 sans-serif;
	font: 15px/1.625 Arial;
	font: 16px/1.625 source-sans-pro;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
/* ===================
	ALL: Orange Theme
   =================== */

.header-container {
}

.footer-container {
}

.header-container,
.footer-container {
}

.title {
	font-size: 2.4em;
}

/* ==============
	MOBILE: Menu
   ============== */

nav ul {
}

nav li {
}

nav a {
	text-align: center;
	text-decoration: none;
	font-weight: bold;

	color: #222;
	background: #666666;
}

nav a:hover {
	color: #222;
}

nav a:visited {
	color: #222;
}

/* ==============
	MOBILE: Main
   ============== */

.main {
}

.main article h1 {
}

.footer-container footer {
	color: #222;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE: Menu
   ==================== */

	nav a {
		float: left;
		width: 27%;
		margin: 0 1.7%;
		padding: 25px 2%;
		margin-bottom: 0;
	}

	nav li:first-child a {
		margin-left: 0;
	}

	nav li:last-child a {
		margin-right: 0;
	}

/* ========================
	INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li {
		display: inline;
	}

	.oldie nav a {
		margin: 0 0.7%;
	}
}

@media only screen and (min-width: 768px) {

/* ====================
	WIDE: CSS3 Effects
   ==================== */

	.header-container {
		-webkit-box-shadow: 0 5px 10px #aaa;
		   -moz-box-shadow: 0 5px 10px #aaa;
				box-shadow: 0 5px 10px #aaa;
	}

/* ============
	WIDE: Menu
   ============ */

	.title {
		float: left;
	}

	nav {
		float: right;
		width: 38%;
	}

/* ============
	WIDE: Main
   ============ */

	.main article {
		float: left;
		width: 57%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
	Maximal Width
   =============== */

	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.wrapper {
	width: 90%;
	margin: 0 5%;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
